{
    "extends": "fortech-react",
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "react/prop-types": 0,
        "linebreak-style": 0,
        "space-in-parens": 0,
        "array-bracket-spacing": 0,
        "eol-last": 0
    }
}
